.navbar {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

#login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-color: grey;
  margin: 0.5rem;
}

.flex-direction-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
